modules = ["web", "nodejs-20", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["python_database:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "nucleo-server"

[[workflows.workflow]]
name = "nucleo-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34435
externalPort = 3000

[[ports]]
localPort = 39899
externalPort = 3002

[[ports]]
localPort = 41073
externalPort = 3001

[[ports]]
localPort = 44981
externalPort = 3003

[nix]
channel = "stable-25_05"
packages = ["cargo", "freetype", "glibcLocales", "libiconv", "libxcrypt", "rustc"]
