[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "python311Packages.virtualenv"]

[phases.install]
cmds = [
    "python -m venv /opt/venv",
    ". /opt/venv/bin/activate && pip install --upgrade pip",
    ". /opt/venv/bin/activate && pip install -r requirements.txt"
]

[variables]
PYTHONUNBUFFERED = "1"
PATH = "/opt/venv/bin:${PATH}"

[start]
cmd = ". /opt/venv/bin/activate && bash start.sh"
